html {
  background-color: #f7f3ea;
}

body {
  font-family: "Kalam", cursive;
  font-weight: 300;
}

.wrapper {
  overflow: hidden;
}

.wrapper-body {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.sidebar-open .wrapper-body {
  left: 240px;
}

.no-js .container {
  padding-left: 240px;
}

.container {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
}

.content {
  margin: 0 auto;
  max-width: 46em;
  padding: 1em;
}

.content-small {
  max-width: 40em;
}

.logo {
  background: url(/img/blogLogoSmall.svg) center top no-repeat;
  display: block;
  width: auto;
  height: 50px;
  /* WRITE MARGINS IN EM */
  margin-top: 5%;
  margin-bottom: 5%; 
  text-indent: -9000px;
}

.logo:hover {
  background-image: url(/img/blogLogoPinkSmall.svg); 
}

.nav {
  margin-top: 12%;
}

.nav-item {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.9);
  color: #fff;
  speak: none;
  font-weight: bolder;
  cursor: pointer;
}

.nav-item:hover {
  color: #fff;
  background: rgb(193, 39, 45);
}

.sidebar-toggle, .sidebar-header, .sidebar-toc, .sidebar-nav {
  display: none;
}

/*.sidebar-nav {
  margin-top: 10%;
}*/

a {
  color: rgb(193, 39, 45);
  border-bottom: none;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgba(193, 39, 45, 0.8);
  text-decoration: none; 
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; 
  font-weight: 400;
}

h1 {
  font-size: 2.5rem; 
}

h2 {
  font-size: 1.8rem; 
}

h3 {
  font-size: 1.6rem; 
}

h4 {
  font-size: 1.4rem; 
}

h5 {
  font-size: 1.2rem; 
}

h6 {
  font-size: 1rem; 
}

hr {
  height: 0;
  margin: 1.25rem 0 1.1875rem;
  clear: both;
  border: 1px dotted rgb(26, 26, 26);
  border-width: 2px 0 0;
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: rgb(193, 39, 45);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-color: #dfdfdf;
  background-color: #f8f8f8;
}

pre {
  padding: 0.5em;
  overflow-x: auto;
  line-height: 1.2;
  font-size: 1.3em;
}

code {
  padding: 0.4em; 
  /*white-space: pre;*/
  overflow-x: auto;
  font-size: 0.8em;
}

/* This overrides style rules set for code above */
pre > code {
  border: none;
}

/*pre .hljs-title,
pre .hljs-comment {
  color: #8e908c;
}

pre .hljs-variable,
pre .hljs-attribute,
pre .hljs-tag,
pre .hljs-regexp,
pre .lang-ruby .hljs-constant,
pre .lang-xml .hljs-tag .hljs-title,
pre .lang-xml .hljs-pi,
pre .lang-xml .hljs-doctype,
pre .lang-html .hljs-doctype,
pre .lang-css .hljs-id,
pre .lang-css .hljs-class,
pre .lang-css .hljs-pseudo {
  color: #c82829;
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #f5871f;
}

pre .hljs-class,
pre .lang-ruby .hljs-class .hljs-title,
pre .lang-css .hljs-rules .hljs-attribute {
  color: #eab700;
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .lang-ruby .hljs-symbol,
pre .lang-xml .hljs-cdata {
  color: #718c00;
}

pre .lang-css .hljs-hexcolor {
  color: #3e999f;
}

pre .hljs-function,
pre .lang-python .hljs-decorator,
pre .lang-python .hljs-title,
pre .lang-ruby .hljs-function .hljs-title,
pre .lang-ruby .hljs-title .hljs-keyword,
pre .lang-perl .hljs-sub,
pre .lang-javascript .hljs-title,
pre .lang-coffeescript .hljs-title {
  color: #4271ae;
}

pre .lang-keyword,
pre .lang-javascript .hljs-function {
  color: #8959a8;
}*/

blockquote {
  margin: 0 1.25rem;
  margin-bottom: 2rem;
  padding-left: 0.5em;  
  border-left: 3px solid rgba(26, 26, 25, 0.3); 
}

blockquote,
blockquote p {
  font-size: 1.5rem;
  font-weight: 400; 
  line-height: 1.5;
  color: rgb(26, 26, 26);
}

ul,
ol,
dl {
  font-size: 1.5rem;
}

figure {
  margin: 0 auto;
  display: block;
  font-size: 1em;
} 

img {
  max-width: 100%;
}

footer {
  margin-top: 3em;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}

.nav-link {
  float: left;
  margin-left: -4%;
  padding: 0 4%;
  display: block;
  color: rgb(193, 39, 45);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
  border: none;
} 

.nav-link:hover {
  background: inherit;
  color: rgba(193, 39, 45, 0.5);
  text-shadow: none;
}

.sidebar-toc {
  list-style-type: none;
  padding: 0;
}

.text-center {
  text-align: center;
}

.post-date {
  color: rgba(26, 26, 26, 0.5);
  font-weight: 400;
}

.next-post {
  /*  margin-top: -5%;*/
  margin-bottom: 15%;
}

/* ARCHIVE STYLES */
.content-archive {
  padding-top: 2em;
  max-width: 30em;
}

.year {
  margin-top: -0.5em;
  padding-left: 1em;
  height: 50px;
  float: left;
  font-size: 2.5em;
  font-weight: 400;
}

.month-of-posts {
  margin-top: -1em;
  padding-left: 10em;
}

.month {
  margin-top: 1em;
  margin-left: -3em;
  padding-left: 2em;
}

.single-post {
  clear: both;
  text-indent: -1.2em;
  font-size: 1.2em;
}

.footer-nav {
  margin: 0 auto;
  padding: 0 0.5em 0 0.5em;
  float: none;
  clear: both;
  display: inline-flex;
  font-size: 1.2em;
}

/* FONTELLO STYLES */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85053683');
  src: url('../font/fontello.eot?85053683#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85053683') format('woff'),
       url('../font/fontello.ttf?85053683') format('truetype'),
       url('../font/fontello.svg?85053683#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85053683#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { 
  content: '\e800'; 
} /* '' */
.icon-right:before { 
  content: '\e801'; 
} /* '' */
.icon-right-open:before { 
  content: '\e802'; 
  margin-left: .4em;
} /* '' */
.icon-left-open:before { 
  content: '\e803';
  margin-right: .4em; 
} /* '' */
.icon-emo-coffee:before { 
  content: '\e804'; 
  margin-right: 0.7em;
} /* '' */
.icon-heart-2:before { 
  content: '\e805'; 
} /* '' */

@media only screen and (min-width: 40em) {
  .logo {
    background: url(/img/blogLogoMedium.svg) center top no-repeat;
    display: block;
    width: auto;
    height: 100px;
  }

  .logo:hover {
    background-image: url(/img/blogLogoPinkMedium.svg); 
  }

  .header {
    margin-bottom: 1em;
  }

  .nav {
    top: 20px;
    left: 20px;
    position: absolute;
    margin-top: 0;
  }

  .nav-item {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
  }

  .next-post {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar {
    top: 0;
    left: 0;
    position: fixed;
    width: 240px;
    height: 100%;
    box-shadow: 2px 1px 0 rgba(0,0,0,0.05);
  }

  .js .sidebar {
    position: absolute;
    left: -240px;
  }

  .sidebar-header {
    padding: 20px;
    margin-bottom: -0.5em;
    display: block;
    color: rgba(26, 26, 26, 0.9);
    font-weight: 400;
  }

  .sidebar-nav {
    margin-top: 20px;
  }

  .sidebar-toggle {
    display: block;
    text-indent: -9000px;
  }

  .sidebar-toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 2px;
    margin-top: -1px;
    background: #fff;
    box-shadow: 0 -4px #fff, 0 4px #fff;
  }

  .sidebar-toc {
    display: block;
  }

  .sidebar-toc li a {
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    color: rgba(26, 26, 26, 0.9);
    font-size: 1.1em;
    line-height: 1;
    border-bottom: 1px solid rgb(223, 223, 223);
  }

  .sidebar-toc li a:hover,
  .sidebar-toc .sidebar-toc-current a {
    background: rgba(255, 255, 255, 0.8);
  }

  .nav-link {
    margin-left: 4%;
    float: none;
    line-height: 1.5;
  }

  footer {
    margin-top: 5%;
  }

  /* ARCHIVE STYLES */
  .single-post {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
  }
}

@media only screen and (min-width: 64em) {
  .logo {
    background: url(/img/blogLogo.svg) center top no-repeat;
    margin-bottom: 6em;
    display: block;
    width: auto;
    height: 100px;
  }

  .logo:hover {
    background-image: url(/img/blogLogoPink.svg); 
  }
}

